<% include partials/_header %>
<head>
  <meta charset="utf-8">
  <title>Editar asignaturas</title>
  <!-- BOOTSTRAP CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <form action="/asignaturas/editar_asignaturas/<%= asignaturas[i]._id %>" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="title" placeholder="Nombre de la asignatura">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="description" cols="80"
                placeholder="Escribe la descripción de la asignatura"
                ></textarea>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="info_instalacion" cols="80"
                placeholder="Escribe la información de instalación"
                ></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Editar</button>
          </form>
        </div>
      </div>
    </div>
  </div>