<% include partials/_header %>
<style>
  body {
    margin: 0;
    padding: 0;
    background: url(https://www.las2orillas.co/wp-content/uploads/2017/04/UNal-1-780x514.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login {
    width: 320px;
    height: 420px;
    background: rgb(56, 56, 56);
    color: rgb(88, 184, 25);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .boton {
    border: none;
    outline: none;
    height: 40px;
    background: #000000;
    color: #fff;
    font-size: 18px;
    width: 100%;
    border-radius: 20px;
  }
  
  .boton:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  
</style>
    <div class="login">
        <h1>Login</h1>
        <form action="/" method="POST">            
         
          <label for="username">Usuario</label>
          <input type="text" name="correo" placeholder="Introduzca Usuario" class="input">
          
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Introduzca Password" class="input">
          <button type="submit" class="boton">Entrar</button>          
        </form>
        <%if (signinMessage) {%>
          <p style="color:#FF0000;" class="error"><%= signinMessage %></p>
        <% } %>
        <%if (signupMessage) {%>
          <p style="color:#FF0000;"><%= signupMessage %></p>
        <% } %>
      </div>

      <% include partials/_footer %>