<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaturas</title>
    <link rel="stylesheet" href="Acceso.css">
</head>
<body>
    <div class="Asignaturas">
        <table class="Tabla">
            <tr>
              <td>Asignaturas</td>
              <td>Profesor</td>
              <td>Alumno</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
    </div>
   
    <button class="BotonEdit">Editar</button>

    <button class="">
  
</body>
</html>