<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Universidad de las mejores</title>
        <link rel="stylesheet" type="text/css" href="/style.css"> 
    <body>
        <div id="menu">
            <nav>
                <ul class="primer_tab">
                    <a href="">Universidad</a>
                    <li><a href="">Entrar</a></li>
                    <li><a href="">Registrarse</a></li>
                </ul>
                <ul class="segundo_tab">
                    <a href="">Asignaturas</a>
                </ul>
                <ul class="tercer_tab">
                    <a href="">Asignaturas</a>
                </ul>
            </nav>
        </div>
    </body>
</html>