<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Universidad de las mejores</title>
    <body>
        <div id="menu">
            <nav>
                <ul class="primer_tab">  
                  <%if(!(user)){%>
                      <li><a href="/">Universidad</a></li>
                    <%}%>
                    <%if(user){%>
                    <li><a href="/asignaturas">Asignaturas</a></li>
                      <%if(user.rol == "Administrador"){%>
                      <li><a href="/usuarios">Usuarios</a></li>
                      <%}%>
                    <div class="derecha">
                      <%if(user){%>
                      <li><a href="/info_usuarios">Mi usuario</a></li>
                      <%}%>
                      <li><a href="/">Cerrar sesion</a></li>
                    </div>
                    <%}%>
                </ul>
            </nav>
        </div>
<style>
  
  ul {
    list-style: none;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    margin: 0px;
  }
  
  ul.primer_tab li {
    float: left;
  }

  .derecha {
    float: right;
  }
  
  /* clear float */
  ul:after {
    clear: both;
  }
  
  ul:before,
  ul:after {
      content: " ";
      display: table;
  }
  
  nav {
    background: #2B2B2B;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #0E0E0E;
    box-shadow: 2px 2px 3px #888;
  }
  

  ul.primer_tab li a {
    display: block;
    padding: 20px 30px;
    border-right: 1px solid rgb(145, 21, 21);
    text-decoration: none;
    color: #fff;

  }
  
  ul.primer_tab li:last-child a {
    border-right: none;
  }
  
  ul.primer_tab li a:hover {
    color: #000;
  }
  
  ul.primer_tab li:hover ul {
    display: block;
    background: #fff;
  }
  
  /* menu blanco */
  ul.primer_tab li:hover a {
    background: #fff;
    color: #666;
    text-shadow: none;
  }
  
  ul.primer_tab li:hover > a{
    color: #000;
  } 
  
/*FIN DEL MENU*/
    </style>